<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script language="javascript" type="text/javascript" src="./static/js/jquery-3.4.1.js"></script>
    <script language="javascript" type="text/javascript" src="./static/js/fabric.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="./static/css/uploader.css"> -->
    <link href="https://1-notes.com/jquery/get-slider-input-dynamically/" target="_blank" rel="noopener">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <title>Inpainting!!</title>
</head>

<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            {%- block content %}
            {%- endblock %}
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <script language="javascript" type="text/javascript" src="./static/js/script.js"></script>

</body>
</html>